@import 'colors';
@import 'header';

#radar {
  width: 100%;
  margin: 0 auto;
  position: relative;

  svg#radar-plot {
    margin: 0 auto;
    transition: all 1s ease;
    position: absolute;
    left: 0;
    right: 0;

    .legend {
      visibility: visible;
      transition: visibility 1s ease 1s;
      color: $black;
    }

    path {
      &.ring-arc-3 {
        stroke: none;
        fill: $grey-light;
      }

      &.ring-arc-2 {
        stroke: none;
        fill: $grey;
      }

      &.ring-arc-1 {
        stroke: none;
        fill: $grey-dark;
      }

      &.ring-arc-0 {
        stroke: none;
        fill: $grey-darkest;
      }
    }

    .item-link {
      outline: none;
      text-decoration: none;
      cursor: pointer;
    }

    .quadrant-group {
      cursor: pointer;
    }

    circle,
    polygon,
    path {
      &.first {
        fill: $green;
        stroke: none;
      }

      &.second {
        fill: $blue;
        stroke: none;
      }

      &.third {
        fill: $orange;
        stroke: none;
      }

      &.fourth {
        fill: $violet;
        stroke: none;
      }
    }

    line {
      stroke: white;
    }

    text {
      &.item-text {
        font-size: 9px;
        font-style: italic;
        fill: $white;
      }

      &.line-text {
        font-weight: bold;
        text-transform: uppercase;
        fill: $black;
        font-size: 7px;
      }
    }
  }

  div.quadrant-table {

    .quadrant-table__name {
      display: none;
    }

    max-height: 0;
    max-width: 0;
    position: absolute;
    overflow: hidden;

    transition: max-height 0.5s ease 1s;

    h3 {
      text-transform: uppercase;
      margin: 0;
      font-weight: bold;
    }

    &.first {
      &.selected {
        float: right;
      }
    }

    &.second {
      &.selected {
        float: left;
      }
    }

    &.third {
      &.selected {
        float: left;
      }
    }

    &.fourth {
      &.selected {
        float: right;
      }
    }

    &.selected {
      position: relative;
      max-height: 10000px;
      max-width: 20%;
    }

    ul {
      padding: 0;
      margin-left: 0;

      li {
        list-style-type: none;
        padding-left: 0;

        .list-item {
          padding: 2px 5px;
          border-radius: 2px;
          cursor: pointer;
          font-weight: 400;

          &.highlight {
            color: white;
            background-color: rgba(0, 0, 0, 0.8);
          }
        }

        .item-description {
          max-height: 0;
          overflow: hidden;
          width: 300px;

          p {
            margin: 0;
            border-top: 1px solid rgb(119, 119, 119);
            border-bottom: 1px solid rgb(119, 119, 119);
            padding: 20px;
            color: $grey-text;
            font-weight: 100;
            font-size: 14px;
          }

          transition: max-height 0.2s ease;

          &.expanded {
            transition: max-height 0.5s ease 0.2s;
            max-height: 1000px;
          }
        }
      }
    }
  }
}
